/* Login.css */
.login-form {
  width: 280px;
  margin: 100px auto 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 12px);
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn {
  background-color: #009688;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #ff5722;
}

/* Register.css */

.register-form {
  width: 280px;
  margin: 100px auto 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 12px);
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn {
  background-color: #009688;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #ff5722;
}
