/* Detail.css */
@import url("https://api.fontshare.com/v2/css?f[]=chillax@500&f[]=satoshi@400&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=boska@400,500&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=panchang@400&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=bespoke-serif@500&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=pencerio@50&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.dest-header {
  font-family: "Panchang", sans-serif;
  font-size: 6vw;
  font-weight: 600;
  width: 60%;
  position: absolute;
  top: 25vw;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}

.dest-location {
  font-family: "Pencerio", cursive;
  font-size: 1.5vw;
  font-weight: 600;
  position: absolute;
  top: 68vh;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}

.image {
  width: 100%;
  transition: opacity 1.5s ease;
  max-height: 100vh;
}

.hidden {
  opacity: 0;
}

.scroll-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  cursor: pointer;
  color: white;
  z-index: 3;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-10px);
  }
  60% {
    transform: translateX(-50%) translateY(-5px);
  }
}

.dest-description {
  /* padding: 10px;
  margin-top: 0px; */
  min-height: 100vh;
}

.text-end p {
  display: inline;
}
.average {
  font-family: "Bespoke Serif", serif;
  font-size: 7vh;
}
.avg {
  font-family: Pencorio;
  font-weight: 500;
}
.text-description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.review-card p {
  display: inline-block;
}

.user-details {
  display: inline-flex;
}
/* .review-container {
  padding: 20px;
  margin-top: 20px;
  min-height: 100vh;
} */

@media (max-width: 768px) {
  .dest-header {
    font-size: 10vw;
    top: 35vw;
  }

  .scroll-arrow {
    display: hidden;
  }

  .dest-location {
    font-family: "Boska";
    font-size: 2.5vw;
    font-weight: 570;
    position: absolute;
    top: 50vw;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
  }

  .text-description {
    font-size: 1rem !important;
  }
}

/* Loading css */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid teal;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  display: block;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.spinner-text {
  position: relative;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: teal;
  text-align: center;
}
